# Core backend
fastapi==0.115.2
uvicorn==0.32.0
pydantic==2.9.2

# Utilities
python-dotenv==1.0.1
requests==2.32.3

# Dev tools
black==24.10.0
ruff==0.7.2

# Data (ileride kullanacağız)
numpy==2.3.4
pandas==2.3.3
